# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
*.log

# Django
db.sqlite3
/staticfiles/
/media/
/.env
*.sqlite3

# VSCode
.vscode/

# Virtual Environment
venv/
env/
ENV/
.venv/

# YOLO trained model weights
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# pycache from yolov9
yolov9/__pycache__/
yolov9_models/__pycache__/
yolov8_model/__pycache__/
app/__pycache__/
project/__pycache__/